.project-cards-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 110px 0 15px;
    margin-top: -110px;
    height: 380px;
    border-top: 1px solid var(--text1);
}

.project-image-thumbnail {
    backdrop-filter: blur(10px);
    filter: blur(1.5px);
    /* transition: 0.5s ease; */
}

.project-card-wrapper:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}

.project-card-wrapper:hover .project-image-thumbnail{
    backdrop-filter: blur(2px);
    filter: none;
    transition: 0.2s ease;
}
/* 
.project-card-wrapper {
    border: 1px solid var(--text3); 
} */

.project-link {
    color: var(--primary) !important;
    font-size: 20px;
    text-decoration: none !important;
    text-transform: none !important;
}