/* .projects-title {
    margin-left: 6% !important;
} */

.projects-container{
    background-color: var(--text1-transparent); 
}

.projects-title {
    color: var(--text2);
    margin-top: 20px !important;
    padding: 120px 0 35px 0;
    /* font-style: italic; */
    font-weight: 500 !important;
}

.link-to-github{
    color: var(--primary) !important;
    font-size: 21px;
    text-decoration: none !important;
    margin-right: 50px !important;
}

.github-link-wrapper {
    background-color: var(--text1);
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 25px;
}