body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Quicksand', sans-serif !important;
}

a {
  color: var(--text3);
}

